
html, body, .App {
  	text-align: center;
	min-width: 300px;
	background-color: aliceblue;
	position: relative;
	margin: 0;
	padding: 0;
  	width: 100%;
  	height: 100vh;
}

.message-form {
  position: fixed;
  width: 100%;
  height: auto;
  margin: auto;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);	
}
.message-form_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  background-color: rgba(240, 255, 255, 1);
}

.close-message-form {
    cursor: pointer;
    color: #3c3c3c;
    position: absolute;  
	top: 2vw;
	position: relative;
	float: right;
	width: 100%;

}
.fa-window-close{
	font-size: 2em;
	width: 20%;
} 



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: white;
  height: 80px;
  padding:  18px 20px 0px 20px;
  color: #8c1e35;
  font-family: 'Prata', serif;	
}

.header h2 {
  font-size: 1em;
}


.header-title-2{
	color: black;
}

.App-intro {
  font-size: large;
}

#nav-bar-container{
	height: auto;
	align-content: center;
	text-align: center;
	background-color: #89132c;
}

#menu-button{
	background-color: #89132c;
	height: 100%;
	width: 100%;
	font-size: 2em;
	font-weight: bold;
	color: white;
	border: none;
	padding: 1%;
}

button:hover {
	cursor: pointer;
	background-color: #a55162;

}

#nav-bar {
	list-style: none;
	width: 100%;
    margin: 0;
    padding: 0;	
	overflow: hidden;
}

#nav-bar li{
	font-size: 1.1em;
	padding: 8px;
}

.nav-bar-links {
	color: white;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

#nav-bar li:hover, .nav-bar-links:hover {
	cursor: pointer;
	color: white;
	position: relative;
	transform: translateX(25px); 
	transition-duration: 0.8s;
}


#main-slide-container {
	text-align: center;
	align-content: center;
	align-items: center;
}

#main-page{
	height: auto;
  	display: flex;
  	justify-content: center;
  	align-items: center; 
	background-color: white;
	font-size: 2em;
	width: 100%;
}

#main-page{

	display:inline-block;
	text-align: center;
	align-content: center;
	align-items: center;
}


#main-slide-title {
	background-image: url('components/images/law-small.jpg');
	height: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 7% 3%;
	height: auto;	
	color: white;
}


#main-slide-title div {
	padding: 2%;
	background-color: rgba(87, 1, 20, 0.5);
}

#main-slide-title button {
	background-color: #89132c;
	color: white;
	padding: 0;
	margin: 0;
	font-size: 0.7em;
	border: none;
}

#main-slide-title button:hover {
	background-color:  #9b4c5c
}

/*----- Advantages div -----*/

#advantages-wrapper {
	background-color: white;
	margin: 0 auto;
	width: 85%;
}

#advantages-wrapper h4{
	margin-top: 19px;
	padding-top: 19px;
}

#advantages-wrapper div {
	padding: 10px;
	border-bottom: 1px solid #C87F8E;
	background-color: white;
}

#advantages-wrapper p {
	font-size: 0.7em;
}
.advantage-image {
	height: 80px;
	margin: 10px;
}
#last-advantages-div {
	border-bottom: none !important;
}

/*----- Us Component -----*/

#about-us-wrap{
	border-top: 1px solid grey !important;
	border-bottom: 1px solid grey !important;
	width: 100%;
	margin: 0 auto;
	background-image: url('components/images/what-the-hex.png');
}

#about-us-wrap p {
	font-size: 20px;
	text-align: left;
	padding: 4px 15px;
}

#about-us-wrap h3 {
	padding-top: 10px;
	color: #89132c;
}



/*---------- Services ----------*/




.services-container {
	width: 100%;
	margin-top: 4vw;
	
}

.services-container h2 {
	padding-top: 10px;
	color: #89132c;
}

.services-container h3 {
	font-size: 0.7em;
}

.services-container p {
	font-size: 0.6em;
} 

.services-container ul {
	background-color: white;
	list-style: none;
	margin: 0;
	padding: 0;
}


.services-container a, .services-container a:hover  {
	color: white;
	text-decoration: none;
}

.services-container li:hover {
	opacity: 0.7;
}

.service-item-container {	
	height: 60vw;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vw;
	padding-top: 10vw;
	background-size: 100%;
	background-repeat: no-repeat;
}

.contract {
	background-image: url(components/images/services/contract.jpg);
}
.family {
	background-image: url(components/images/services/family.jpg);
}
.labour {
	background-image: url(components/images/services/labour.jpg);
}
.inheritance {
	background-image: url(components/images/services/inheritance.jpg);
}
.criminallaw {
	background-image: url(components/images/services/criminallaw.jpg);
}
.consumer {
	background-image: url(components/images/services/consumer.jpg);
}
.housingdispute {
	background-image: url(components/images/services/housingdispute.jpg);
}
.finances {
	background-image: url(components/images/services/finances.jpg);
}
.damages {
	background-image: url(components/images/services/damages.jpg);
}

.service-item-box {
	box-sizing: border-box;
	padding-top: 4vw;
	margin: 0 auto;
	width: 80vw;
    border: 2px solid white;
	min-height: 41vw;
	background-color: rgba(87, 1, 20, 0.5);
}

.service-item-box  h3{
	font-size: 30px;
}
.service-item-text {
	background-color: transparent;
	text-align: left;
	width: 90vw;
	margin: 0 auto;
}

.service-item-text a, .service-item-text a:hover {
	color: #8c1e35;
}

.service-item-header {
	color: white;
}

.link-services {
	border: 1px solid grey;
}



/*---------- Practice ----------*/


.practice-container {
	width: 100%;
	margin-top: 4vw;
	background-image: url('components/images/what-the-hex.png');
	
}

.practice-container h2 {
	padding-top: 10px;
	color: #89132c;
}

.practice-container h3 {
	font-size: 0.7em;
}

.practice-container p {
	font-size: 0.6em;
	
}

.practice-items-box{
	width: 90vw;
	margin: 0 auto;
	border-top: 1px solid #C87F8E;
	padding-top: 4vw;
}

.practice-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.practice-items-box a {
	color: dimgrey;
	text-decoration: underline;
}

.practice-items-box a:hover{
	color: #89132c;
	
}

.contact-div {	
	padding: 4%;
	margin: 2%;
	height: auto;
	margin-top: 8%;
}



.main-slide {
	background-color: white;
}

.contact-div-popup {
	
	background-color: rgba(221, 198, 201, 1);
}



#footer{
	height: auto;
	background-color: aliceblue;
	margin: 0;
	padding: 0 2% 2% 2%;
	
}

.fa-balance-scale {
	font-size: 3em;
	padding-bottom: 4%;
	border-bottom: 1px solid grey;
	width: 90%;
}

.fa-envelope, .fa-phone-square, .fa-map-marker-alt {
	font-size: 1.2em;
	color: #b7353b;
}

.fa-phone {
	position: fixed;
	z-index: 100;
	bottom: 22%;
	right: 2%;
	font-size: 5em;
	color: blue;
}

.fa-edit {
	font-size: 1.5em;
	color: #89132c;
}


#footer-question {
	padding-bottom: 4%;
	border-bottom: 1px solid grey;	
	width: 90%;
	margin: 0 auto;
}

#footer-question p {
	font-size: 2em;
	width: 100%;
	font-size: block;
	text-decoration: underline;
	text-decoration-color: #720c11;
	margin: 0.5em 0;
}

.input-form{
	width:85%;
	height: 30px;
	margin: 2%;
	border: 3px solid #194c85;
	padding-left: 1.5%;
	font-size: 1.2em;
}

.input-error{
	color: red;
	font-size: 0.7em;
	
}


.open-form {
	background-color: #b7353b;
	min-height: 40px;
	width: 45%;
	font-size: 1em;
	padding: 4px;
	color: aliceblue;	
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media screen and (max-width: 600px) {}
