

.Phone {
  position: fixed;
  z-index: 100;
  bottom: 4%;
  right: 4%;
  display: block;
  margin: 0;
  width: 1em;
  height: 1em;
	max-height: 150px;
	max-width: 150px;
  font-size: 25vmin;
  background-color: rgba(52,152,219, 0.7);
  border-radius: 0.5em;
  box-shadow:
  0 0 0 0em rgba(#3498db, 0),
  0em 0.05em 0.1em rgba(#000000, 0.2);
  transform: translate3d(0, 0, 0) scale(1);
}


.Phone:hover {
	background-color: #2374aa;
}
.Phone::before,
.Phone::after {
  position: absolute;
  content: "";
}

.Phone::before {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: rgba(#fff, 0.1);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
  top: 25%;
  left: 25%;
  width: 0.5em;
  height: 0.5em;
	max-height: 75px;
  max-width: 75px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
  animation: phone-outer 3000ms infinite;
  
  &::before {
    animation: phone-inner 3000ms infinite;
  }
  
  &::after {
    animation: phone-icon 3000ms infinite;
  }
}

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0em rgba(#3498db, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow:
      0 0 0 0em rgba(#3498db, 0.1),
      0em 0.05em 0.1em rgba(#000000, 0.5);
  }
  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0.5em rgba(#3498db, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0em rgba(#3498db, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-icon {
  0% { transform: translate3d(0em, 0, 0); }
  2% { transform: translate3d(0.01em, 0, 0); }
  4% { transform: translate3d(-0.01em, 0, 0); }
  6% { transform: translate3d(0.01em, 0, 0); }
  8% { transform: translate3d(-0.01em, 0, 0); }
  10% { transform: translate3d(0.01em, 0, 0); }
  12% { transform: translate3d(-0.01em, 0, 0); }
  14% { transform: translate3d(0.01em, 0, 0); }
  16% { transform: translate3d(-0.01em, 0, 0); }
  18% { transform: translate3d(0.01em, 0, 0); }
  20% { transform: translate3d(-0.01em, 0, 0); }
  22% { transform: translate3d(0.01em, 0, 0); }
  24% { transform: translate3d(-0.01em, 0, 0); }
  26% { transform: translate3d(0.01em, 0, 0); }
  28% { transform: translate3d(-0.01em, 0, 0); }
  30% { transform: translate3d(0.01em, 0, 0); }
  32% { transform: translate3d(-0.01em, 0, 0); }
  34% { transform: translate3d(0.01em, 0, 0); }
  36% { transform: translate3d(-0.01em, 0, 0); }
  38% { transform: translate3d(0.01em, 0, 0); }
  40% { transform: translate3d(-0.01em, 0, 0); }
  42% { transform: translate3d(0.01em, 0, 0); }
  44% { transform: translate3d(-0.01em, 0, 0); }
  46% { transform: translate3d(0em, 0, 0); }
}








/*------------------------------------------------------------*/
html, body, .App {
  	text-align: center;
	min-width: 300px;
	background-color: white;
	position: relative;
	margin: 0;
	padding: 0;
  	width: 100%;
  	height: 100vh;
}

.message-form {
  position: fixed;
  width: 100%;
  height: auto;
  margin: auto;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);	
}
.message-form_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  background-color: rgba(240, 255, 255, 1);
}



.close-image{
    cursor: pointer;
    color: #3c3c3c;
    position: absolute;  
	top: 2vw;
	position: relative;
	float: right;
	width: 100%;
	background-color: transparent;
	border: none;
}
.fa-window-close{
	font-size: 2em;
	width: 20%;
	color: darkgrey;
} 



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: white;
  height: 80px;
  padding:  18px 20px 0px 20px;
  color: #8c1e35;
  font-family: 'Prata', serif;	
}

.header h2 {
  font-size: 1em;
}


.header-title-2{
	color: black;
}

.App-intro {
  font-size: large;
}

#nav-bar-container{
	height: auto;
	align-content: center;
	text-align: center;
	background-color: #89132c;
}

#menu-button{
	background-color: #89132c;
	height: 100%;
	width: 100%;
	font-size: 2em;
	font-weight: bold;
	color: white;
	border: none;
	padding: 1%;
}

#main-button {
	font-size: 1.2em;
	background-color: #89132c;
	color: white;
	padding: 10px 5px;
	margin-top: 10px;
	font-size: 1.2em;
	border: none;
}

#main-button:hover {
	cursor: pointer;
	background-color: #a55162;
}


.nav-bar {
	list-style: none;
	width: 100%;
    margin: 0;
    padding: 0;	
	overflow: hidden;
	
}

.nav-close{
	height: 0;
	transition: height 0.2s ease-in;
}

.nav-open {
	height: 252px;
	transition: height 0.4s ease-in;
}

.nav-bar li{
	font-size: 1.1em;
	padding: 8px;
}

.nav-bar-links {
	color: white;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.nav-bar li:hover, .nav-bar-links:hover {
	cursor: pointer;
	color: white;
	position: relative;
	transform: translateX(25px); 
	transition-duration: 0.8s;
}


#main-slide-container {
	text-align: center;
	align-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

#main-page{
	height: auto;
  	display: flex;
  	justify-content: center;
  	align-items: center; 
	background-color: white;
	width: 100%;
}

#main-page{

	display:inline-block;
	text-align: center;
	align-content: center;
	align-items: center;
}


#main-slide-title {
	background-image: url('components/images/law-small.jpg');
	height: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 7% 3%;
	height: auto;	
	color: white;
}


#main-slide-title div {
	padding: 2%;
	background-color: rgba(87, 1, 20, 0.6);
	color: white;
	padding: 0;
	padding: 10px 0;
	border: none;
}

#main-slide-title button:hover {
	background-color:  #9b4c5c
}

/*----- Advantages div -----*/

#advantages-wrapper, .coop-container, .reviews-container, .reviews-container {
	background-color: white;
	margin: 0 auto;
	width: 85%;
}

#advantages-wrapper h4{
	margin-top: 19px;
	padding-top: 19px;
}

#advantages-wrapper div, .coop-container p {
	padding: 10px;
	border-bottom: 1px solid #C87F8E;
	background-color: white;
}

.advantage-image {
	height: 80px;
	margin: 10px;
}
#last-advantages-div {
	border-bottom: none !important;
}

/*----- Us Component -----*/

#about-us-wrap{
	border-top: 1px solid grey !important;
	border-bottom: 1px solid grey !important;
	width: 100%;
	margin: 0 auto;
	background-image: url('components/images/what-the-hex.png');
}

#about-us-wrap p, .practice-container p {
	font-size: 20px;
	text-align: left;
	padding: 4px 15px;
}

.item-text p {
	margin-bottom: 0 !important;
	padding-bottom: 15px;
}

#about-us-wrap h3 {
	padding-top: 10px;
	color: #89132c;
}



/*---------- Services ----------*/


.services-container {
	width: 100%;
	margin-top: 4vw;
	
}

.services-container h3 {
	font-size: 0.7em;
}

.services-container p {
	font-size: 0.6em;
} 

.services-container ul, .review-container-ul {
	background-color: white;
	list-style: none;
	margin: 0;
	padding: 0;
}


.services-container a, .services-container a:hover  {
	color: white;
	text-decoration: none;
}

.services-container li:hover {
	opacity: 0.7;
}

.service-item-container {	
	height: 60vw;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vw;
	padding-top: 10vw;
	background-size: 100%;
	background-repeat: no-repeat;
}

.contract {
	background-image: url(components/images/services/contract.jpg);
}
.family {
	background-image: url(components/images/services/family.jpg);
}
.labour {
	background-image: url(components/images/services/labour.jpg);
}
.inheritance {
	background-image: url(components/images/services/inheritance.jpg);
}
.criminallaw {
	background-image: url(components/images/services/criminallaw.jpg);
}
.consumer {
	background-image: url(components/images/services/consumer.jpg);
}
.housingdispute {
	background-image: url(components/images/services/housingdispute.jpg);
}
.finances {
	background-image: url(components/images/services/finances.jpg);
}
.damages {
	background-image: url(components/images/services/damages.jpg);
}

.service-item-box {
	box-sizing: border-box;
	padding-top: 4vw;
	margin: 0 auto;
	width: 80vw;
    border: 2px solid white;
	min-height: 41vw;
	background-color: rgba(87, 1, 20, 0.5);
}

.service-item-box  h3{
	font-size: 30px;
}
.service-item-text {
	background-color: transparent;
	text-align: left;
	width: 90vw;
	margin: 0 auto;
}

.service-item-text a, .service-item-text a:hover {
	color: #8c1e35;
}

.service-item-header {
	color: white;
}

.link-services {
	border: 1px solid grey;
}



/*---------- Practice ----------*/


.practice-container {
	width: 100%;
	padding-top: 4vw;
	background-image: url('components/images/what-the-hex.png');
	
}

.practice-container h2, #about-us-wrap h2, #advantages-wrapper h2, .coop-container h2, .services-container h2, .reviews-container h2 {
	padding-top: 10px;
	color: #89132c;
}

.practice-container h3 {
	font-size: 1.3em;
}


.practice-items-box{
	width: 90vw;
	margin: 0 auto;
	border-top: 1px solid #C87F8E;
	padding-top: 4vw;
}

.practice-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.practice-items-box a {
	color: dimgrey;
	text-decoration: underline;
}

.practice-items-box a:hover{
	color: #89132c;
	
}

.contact-div {	
	padding: 4%;
	color: white;
	margin: 2%;
	height: auto;
	margin-top: 8%;
	background-color: #6d1928;
}

.contact-div h2, .contact-div p {
	color: white;
}



.main-slide {
	background-color: white;
}

/*---------- Service/Practice Items Container ----------*/


.item-container {
	width: 90%;
	margin: 0 auto;
}

.item-container h2 {
	padding-top: 10px;
	color: #8c1e35;
	font-size: 1.5em;
}

.item-container p {
	text-align: left;
}

.item-container li {
	text-align: left;
}

/*---------- Cooperation ----------*/

.coop-container img {
	padding-top: 10px;
}


.coop-container p, .service-item-box p, .services-container p, #advantages-wrapper p, .coop-container p {
	font-size: 20px;
	padding: 4px 15px;
}


/*---------- Reviews ----------*/

.review-div {
	border-bottom: 1px solid #C87F8E;
	padding-top: 10px;
}


.review-image-div {
	padding: 10px;
}

.review-image-small {
	-webkit-box-shadow: 10px 6px 17px 1px rgba(165,81,98,0.47);
	-moz-box-shadow: 10px 6px 17px 1px rgba(165,81,98,0.47);
	box-shadow: 10px 6px 17px 1px rgba(165,81,98,0.47);
}

.big-review-image-container {
	  position: fixed;
	  height: auto;
	  margin: auto;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  width: 100%;
	  transition: width 0.3s linear 0s;
	  z-index: 100px;
	  background-color: rgba(0, 0, 0, 0.1);
	
}

.review-image-big {
	width: 90%;
	margin-top: 5%;
	border: 4px solid white; 
 }

.review-text {
	text-align: justify;
	padding-top: 10px;
}

.review-date {
	font-weight: bold;
}

.review-name {
	padding-top: 5px;
	font-style: oblique;
}


/*---------- Footer ----------*/

#footer{
	height: auto;
	background-color: black;
	margin: 0;
	padding: 0 0 2% 0;
}

#footer-first-p {
	padding-top: 19px;
}

#footer h2 {
	color: #8c1e35;
  	font-family: 'Prata', serif;	
	font-size: 1.2em;
}

#footer-question {
	padding-bottom: 4%;
	border: 1px solid grey;	
	width: 100%;
	padding-bottom: 1.5em;
	margin: 0 auto;
	font-size: 0.8em;
	background-color: #5e1323;
	color: white;
}

#footer-question p {
	font-size: 2em;
	width: 100%;
	font-size: block;
	padding: 0.5em 0;
}

.footer-link {
	color: white;
}
#footer-info {
	color: white;
	background-color: black;
}

.fa-balance-scale {
	font-size: 3em;
	padding-bottom: 4%;
	border-bottom: 1px solid grey;
	width: 90%;
}

.fa-envelope, .fa-phone-square, .fa-map-marker-alt {
	font-size: 1.2em;
	color: #b7353b;
}

.fa-phone {
	position: fixed;
	z-index: 100;
	bottom: 4%;
	right: 2%;
	font-size: 5em;
	color: 4267b2;
	background-color: transparent;
	border: none;
}

.fa-edit {
	font-size: 1.5em;
	color: #89132c;
}


.input-form{
	width:85%;
	height: 30px;
	margin: 2%;
	border: 3px solid #194c85;
	padding-left: 1.5%;
	font-size: 1.2em;
}

.input-error{
	color: red;
	font-size: 0.7em;
	
}


.open-form {
	background-color: white;
	min-height: 40px;
	width: 65%;
	font-size: 1.2em;
	padding: 4px;
	color: #b7353b;
	border: 4px solid #5e1323;
} 

.open-form:hover {
	border: 4px solid #a55162;
}

.map-holder {
	margin: 3vw;
	border: 3px solid #5e1323;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*------------------------------ 600px ------------------------------*/

@media screen and (min-width: 600px) {
	
	.header h2 {
		font-size: 1.2em;
	}
	
	
	#main-slide-title {
		padding: 3.5% 2%;
	}
	
	#main-button {
		font-size: 1.6em;
		padding: 15px 10px;
		margin-top: 10px;
		border: none;
	}
		
/*----- Common Styles -----*/	
	
	.coop-container p, .service-item-box p, .coop-container p {
		font-size: 23px;
		padding: 7px 0px;
	}
	
	.practice-container h2, #about-us-wrap h2, #advantages-wrapper h2, .coop-container h2, .services-container h2, .reviews-container h2 {
		padding-top: 15px;
		font-size: 2.3em;
	}
	
/*----- Advantages div -----*/	
	
	.advantage-image {
		height: 60px;
		margin: 5px;
	}
	
	#advantages-wrapper div {
		padding: 5px 0px;
	}
	
	#advantages-wrapper p {
		margin-bottom: 0;
		font-size: 18px;
		padding: 7px 0px;
	}
	
/*----- Services div -----*/		
	
	.services-container {
		margin: 0 2%;
		width: 94%;
	}
	
	.services-container ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 3%;
	}
	
	.services-container li {
		margin-top: 6%;
	}
	
	.service-item-container {	
		height: 200px;
		margin-top: 0;
		width: 100%;
		background-size: 100%;
		padding-top: 10%;	
	}
	
	.damages {
		
	}
	
	.service-item-box {
		padding-top: 10px;
		width: 90%;
    	border: 2px solid white;
		min-height: 142px;
}

	.service-item-box p {
		margin-bottom: 0;
	}
	
	.service-item-text {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.service-item-header {
		font-size: 0.8em;
	}
	
	
/*----- Cooperation div -----*/			
	
	.coop-container-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 3%;
	}
	
	
	.coop-container p {
		font-size: 14px;
		padding: 10px 0px 10px 0px;
		height: 84px;
	}
	
	.coop-container img {
		height: 140px;
	}

/*----- Practice div -----*/	
	
	.practice-container {
		padding-top: 15px;
	}
	
	.practice-container p {
		font-size: 18px;
		padding: 4px 4px 10px 4px;
	}
	
	
	.practice-container h3 {
		text-align: left;
	}
	
/*----- Footer -----*/	
	
	.open-form {
		min-height: 40px;
		width: 55%;
		font-size: 1.9em;
		padding: 6px;
		border: 6px solid #5e1323;
	} 

	.open-form:hover {
		border: 6px solid #a55162;
	}

	#footer-question p {
		font-size: 2.2em;
		padding: 0.5em 0;
		margin: 0;
	}	

/*----- Reviews -----*/		
	
	.review-container-ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 3%;
	}	
	
	.review-container-ul li{
		margin-bottom: 10px;
	}
		
}


/*------------------------------ 719 px ------------------------------*/

@media screen and (min-width: 719px) {
	
/*----- Nav Bar -----*/			
	
	#menu-button {
		display: none;
	}

	.nav-bar {
		height: 50px !important;
		columns: 6;
	}

	.nav-bar li{
		font-size: 1.4em;
	}
	
	.nav-bar li: last-child {
	 margin-right: 12%;
	}

	.nav-bar li:hover, .nav-bar-links:hover {
		cursor: pointer;
		color: white;
		position: relative;
		transform: translateX(25px); 
		transition-duration: 0.8s;
	}	
	
}

/*------------------------------ FOR-DESKTOP ------------------------------*/

@media screen and (min-width: 1200px) {

}







