body, html {
	margin: 0;
	padding: 0;
}
.App {
  	text-align: center;
	min-width: 300px;
	background-color: aliceblue;
}

h1 {
	font-size: 1.1em;
}

h2 {
	font-size: 1em;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: aliceblue;
  height: 130px;
  padding:  18px 20px 0px 20px;
  color: darkblue;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#nav-bar-container{
	height: auto;
	align-content: center;
	text-align: center;
	background-color: #194c85;
}

#menu-button{
	background-color: #194c85;
	height: 100%;
	width: 100%;
	font-size: 2em;
	font-weight: bold;
	color: aliceblue;
	border: none;
}

button:hover {
	cursor: pointer;
}

#nav-bar{
	list-style: none;
	width: 100%;
    margin: 0;
    padding: 0;	
}

#nav-bar li{
	color: aliceblue;
	font-size: 1.1em;
	padding: 8px;
}

#nav-bar li:hover {
	font-size: 1.8em;
	cursor: pointer;
}

#main-slide {
	background-image: url('components/images/law-small.jpg');
	height: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	display:inline-block;
	text-align: center;
	align-content: center;
	align-items: center;
	padding:3%;	
}

#main-slide-title {
	background-color: rgba(240, 255, 255, 0.65);
	padding: 3%;
	height: auto;
}

#main-slide-div{	
	background-color: rgba(240, 255, 255, 0.7);
	padding: 4%;
	margin: 2%;
	height: auto;
	margin-top: 8%;
}

#footer{
	height: auto;
	background-color: aliceblue;
	margin: 0;
	padding: 0 2% 2% 2%;
}

.fa-balance-scale {
	font-size: 3em;
	padding-bottom: 4%;
	border-bottom: 1px solid grey;
	width: 100%;
}

.fa-envelope, .fa-phone-square {
	font-size: 1.2em;
}


#footer-question {
	padding-bottom: 4%;
	border-bottom: 1px solid grey;	
	width: 100%;
}

#footer-question p {
	font-size: 2em;
	font-size: block;
	text-decoration: underline;
	text-decoration-color: #720c11;
	margin: 0.5em;
}
.input-form{
	width:85%;
	height: 30px;
	margin: 2%;
	border: 3px solid #194c85;
	padding-left: 1.5%;
	font-size: 1.2em;
}

.submit-contact {
	background-color: #b7353b;
	min-height: 40px;
	width: 45%;
	font-size: 1.1em;
	padding: 4px;
	color: aliceblue;	
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media screen and (max-width: 600px) {}
