body, html {
	margin: 0;
	padding: 0;
}
.App {
  text-align: center;
	min-width: 350px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: aliceblue;
  height: 150px;
  padding: 20px;
  color: darkblue;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#nav-bar-container{
	height: 50px;
	align-content: center;
	text-align: center;
	background-color: #194c85;
}

#menu-button{
	background-color: #194c85;
	height: 100%;
	width: 100%;
	font-size: 2em;
	font-weight: bold;
	color: aliceblue;
	border: none;
}

#menu-button:hover {
	font-size: 2.3em;
	cursor: pointer;
}

#main-slide {
	background-image: url('components/images/law-small.jpg');
	min-height: 470px;
	height: 135vw;
	background-size: 100%;
	background-repeat: no-repeat;
	display:inline-block;
	text-align: center;
	align-content: center;
	align-items: center;
	padding: 3%;	
}


#main-slide-title {
	background-color: rgba(240, 255, 255, 0.65);
	height: 25vw;
	padding: 3%;
	
	height: auto;
	
}


#main-slide-div{	
	background-color: rgba(240, 255, 255, 0.7);
	height: 25vw;
	padding: 4%;
	margin: 2%;
	height: auto;
	margin-top: 8%;
}

.input-form{
	width:85%;
	height: 30px;
	margin: 2%;
	border: 3px solid #194c85;
	padding-left: 1.5%;
	font-size: 1.2em;
}


#submit-contact{
	background-color: #b7353b;
	height: 40px;
	width: 45%;
	font-size: 1.4em;
	color: aliceblue;
	
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media screen and (max-width: 600px) {}
